/* colour scheme based on: https://i.pinimg.com/originals/b3/48/ea/b348ea063dfd7bc58a9ba8aa5e6d2d55.png */

body{
  color: #03254c!important; /* dark blue */
}
table{
  background-color: #2a9df4!important; /* light blue */
  border-radius: 7%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.board button {
  width: 80px;
  height: 80px;
  background-color: gray;
  border-radius: 50%;
  border: 4px solid #03254c;
  margin: 6px;
}
